RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([a-z0-9-]+)/login$ index.php?career_slug=$1 [L,QSA]
RewriteRule ^([a-z0-9-]+)/registro$ registro.php?career_slug=$1 [L,QSA]
RewriteRule ^admin$ admin.php [L,QSA]
RewriteRule ^admin/([a-z0-9-]+)$ admin.php?career_slug=$1 [L,QSA]
RewriteRule ^admin/todos$ admin.php?career_slug=todos [L,QSA]
RewriteRule ^dashboard/([a-z0-9-]+)$ dashboard.php?career_slug=$1 [L,QSA]
RewriteRule ^admin/([a-z0-9-]+)/chat$ admin.php?career_slug=$1&view=chat [L,QSA]
RewriteRule ^admin/([a-z0-9-]+)/fotos$ admin.php?career_slug=$1&view=fotos [L,QSA]
RewriteRule ^dashboard$ dashboard.php [L,QSA]
